h2{
    color:var(--secondary);
    padding: 3rem 0rem;
}
.page-content > div{
	max-width: 1300px;
}
.page-content{
    padding: 2rem 1rem;
}
.container{
    display: flex;
    width: 100%;
}
.container img{
    width: 50%;
    height: 500px;
    object-fit: cover;
    flex: 1;
    max-width: 50%;
}
.details{
    color:var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 5rem;
    flex: 1;
    max-width: 50%;
}
.right span{
    text-align: right;
}
@media (max-width:1400px) {
    .container{
        flex-direction: column-reverse;
    }
    .container img{
        border-radius: 8px;
        width: 100%;
        max-height: 200px;
        max-width: none;
        transition:all 0.3s;
    }
    .container img:hover{
        max-height:350px;
    }
    .details{
        padding:3rem 0.1rem 1rem;
        gap:1rem;
        max-width: none;
    }
    .right{
        flex-direction: column;
    }
}